/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-yellow: #ffdba7;
  --color-blue: #83a0cf;
  --color-pink: #ed9392;
  --color-light-gray: #d9d9d9;
  --color-gray: #a7a7a7;
  --color-dark-gray: #484848;
  --color-black: #000000;

  /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 8px 24px;
  z-index: 999;
}

#navbar.navbar--dark {
  background-color: var(--color-light-gray);
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-family: 'PT Serif', serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.navbar__logo img {
  width: 32px;
  margin-right: 8px;
}

.navbar__menu {
  display: flex;
  margin: 8px 0;
}

.navbar__menu__item {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  color: var(--color-dark-gray);
  text-transform: uppercase;
  border-radius: var(--size-border-radius);
  padding: 4px 0;
  margin: 0 12px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  color: var(--color-black);
}

.navbar__menu__item::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: all 200ms ease;
  visibility: hidden;
}

.navbar__menu__item:hover::after {
  background-color: var(--color-black);
  transform: scaleX(1);
  visibility: visible;
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 20px;
  display: none;
}

/* Home */
#home {
  height: 100vh;
  background: url('imgs/home.png') center/cover no-repeat;
  text-align: center;
  padding: 40px;
  padding-top: 150px;
}

.home__profile {
  width: 220px;
  border: 4px solid var(--color-white);
  border-radius: 50%;
  animation: showText 0.5s;
  animation-fill-mode: both;
}

.home__title {
  animation: showText 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.home__description {
  font-family: 'PT Serif', serif;
  margin-bottom: 30px;
  animation: showText 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.home__contact {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  transition: all 200ms ease-in;
  animation: showText 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.home__contact:hover {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}

.section h1 {
  text-transform: uppercase;
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

.title__container {
  position: relative;
}

.about__title::after,
.skills__title::after,
.projects__title::after,
.contact__title::after {
  content: '';
  position: absolute;
  height: 1.5px;
  left: 0;
  right: 0;
  top: 60px;
  transform: scaleX(0.05);
  background-color: var(--color-black);
}

.contact__title::after {
  background-color: var(--color-white);
}

/* About */
#about {
  padding-bottom: 100px;
}

.about__description {
  line-height: 42px;
  font-family: 'Quicksand', sans-serif;
  font-weight: var(--weight-medium);
  color: var(--color-dark-gray);
  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 68px;
}

.about__education {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-gray);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.about__university {
  display: flex;
  align-items: center;
}

.university__logo {
  width: 150px;
}

.university__description {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-dark-gray);
  text-align: left;
  margin: 0 16px;
}

.university__name {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
}

.university__period {
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
  height: 100vh;
}

#skills .title__container {
  margin-bottom: 72px;
}

.skills__items {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.skillset__container {
  display: flex;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 30px;
}

.skillset__left {
  flex-direction: column;
  flex-basis: 65%;
  margin-right: 30px;
}

.skillset__title {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.skillset__list {
  display: flex;
  justify-content: space-evenly;
}

.skillset_frontend {
  margin-bottom: 48px;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill__icon {
  width: 70px;
  margin: 0 8px;
}

.skill__title {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  margin-top: 8px;
}

.skillset__right {
  flex-direction: column;
  flex-basis: 35%;
}

/* Projects */
#projects .title__container {
  margin-bottom: 72px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--size-border-radius);
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  opacity: 0.6;
  transition: all 200ms ease-out;
}

.project.active {
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.hashtag {
  background-color: var(--color-pink);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-micro);
  border-radius: var(--size-border-radius);
  padding: 2px 6px;
  margin: 0 2px;
}

.project__title {
  font-family: 'PT Serif', serif;
  font-weight: var(--weight-bold);
}

.project__description {
  margin-bottom: 16px;
  font-family: 'Quicksand', sans-serif;
}

.project_photo {
  width: 400px;
}

.project__links {
  font-family: 'Quicksand', sans-serif;
  font-weight: var(--weight-medium);
  position: absolute;
  right: 12px;
  bottom: 10px;
}

.project__links a {
  font-weight: var(--weight-medium);
  color: var(--color-dark-gray);
}

.project__links a:hover {
  color: black;
}

/* Contact */
#contact {
  background-color: var(--color-blue);
  color: var(--color-white);
}

#contact .title__container {
  margin-bottom: 48px;
}

.contact__email {
  font-family: 'PT Serif', serif;
}

.contact__links {
  margin: 32px 0;
}

.contact__links i {
  font-size: 40px;
  color: var(--color-white);
  margin: 0 6px;
  transition: all 200ms ease-in;
}

.contact__links i:hover {
  color: var(--color-yellow);
}

.contact__rights {
  font-family: 'Quicksand', sans-serif;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: var(--color-blue);
  border-radius: 50%;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-light-gray);
  }

  .navbar__logo {
    margin: 6px 0;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item {
    padding: 6px 0;
    margin-bottom: 8px;
  }

  .navbar__menu__item:hover {
    background-color: var(--color-gray);
  }

  .navbar__menu__item:hover::after {
    visibility: hidden;
  }

  #home {
    height: auto;
    padding: 16px;
    padding-top: 110px;
    padding-bottom: 60px;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  #about {
    padding-bottom: 30px;
  }

  .about__description {
    font-size: var(--font-small);
    line-height: 24px;
    padding: 0 20px;

    margin-top: 48px;
    margin-bottom: 48px;
  }

  .university__logo {
    width: 100px;
  }

  #skills {
    height: auto;
    padding-bottom: 40px;
  }

  #skills .title__container {
    margin-bottom: 50px;
  }

  .skills__items {
    flex-direction: column;
    width: 100%;
  }

  .skillset__left {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .skillset__right {
    flex-basis: auto;
  }

  .skill__icon {
    width: 50px;
    margin: 0 8px;
  }

  #projects .title__container {
    margin-bottom: 50px;
  }

  .project {
    width: 100%;
  }

  .project_photo {
    width: 250px;
    margin-bottom: 8px;
  }

  .arrow-up {
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
